*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px=62.5 -> 1rem=10px;
}

body {
  font-family: $font-primary;
  background-color: $colorBackground;
  color: $colorSlate;
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.6rem;
}

main {
  // background: $colorWhite;
}
